@charset "UTF-8";
body {
  background-color: rgb(246, 208, 78);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
h1 {
  color: white;
}
nav.main {
  color: white;
  padding: 0.5rem;
  ul {
    list-style: none;
    display: flex;
    white-space: nowrap;
  }
}
nav.main li {
  margin: 5px;
  padding: 1rem 2rem 0;
  border-bottom: 2px solid transparent;
  transition: 0.7s;
  transition: box-shadow 3s;
  border-radius: 5px;
}

nav.main li:hover {
  /* background-color: rgb(9, 23, 77); */
  cursor: pointer;
  box-shadow: inset 500px 0 0 rgb(241, 200, 200);
}
nav.main li.active {
  background-color: aquamarine;
}
