<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.food.persistance.FoodDao">
 
 	<select id="selectAll">
 		SELECT * FROM tbl_food
 	</select>
 	<select id="findById">
 		SELECT * FROM tbl_food WHERE f_sort = #{f_sort}
 	</select>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	
 	<select id="create_table">
 		f_code	BIGINT auto_increment	PRIMARY KEY,
		f_sort	VARCHAR(50)		,
		f_foodname	VARCHAR(50)
 	</select>
 
 </mapper> 