<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.food.persistance.UserDao">
 
 	<insert id="insert">
 		INSERT INTO tbl_user(m_id,m_password,m_email,m_name,m_tel)
 		VALUES(#{m_id},#{m_password},#{m_email},#{m_name},#{m_tel})
 	</insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	
 	<select id="create_user_table">
 		CREATE TABLE IF NOT EXISTS tbl_user(
 			m_id	VARCHAR(20)		PRIMARY KEY,
			m_password	VARCHAR(125)	NOT NULL,	
			m_email	VARCHAR(30)		,
			m_name	VARCHAR(10)	NOT NULL,
			m_role	VARCHAR(5)	,	
			m_tel	VARCHAR(15)		
 		)
 	</select>
 	<select id="create_role_table">
 		CREATE TABLE IF NOT EXISTS tbl_role(
 			r_mid VARCHAR(20) NOT NULL,
 			r_role VARCHAR(20) NOT NULL,
 			FOREIGN KEY (r_mid)
 			REFERENCES tbl_user(m_id) ON DELETE CASCADE
 		)
 	</select>
 
 </mapper> 